.preloader {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-content: center;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	background: $sc;

	svg {
		circle {
			fill: none;
			stroke: #d43030;
			stroke-width: 10px;
			animation: circle-animation 3s infinite;
			transform-origin: center center;

			@keyframes circle-animation {

				0%,
				20%,
				100% {
					stroke-dasharray: 0.1;
					transform: rotate(0);
				}

				10% {
					stroke-dasharray: 0.05;
				}

				70% {
					stroke-dasharray: 50;
					transform: rotate(60deg);
				}
			}
		}
	}
}


// hero
.hero {
	min-height: 60vh;
	background-color: $sc;
	overflow: hidden;
	color: #fff;
	padding: 0 10px;
	padding-top: 100px;


	&_text {
		font-size: 40px;
		font-family: $mont;
		font-weight: 700;
		text-transform: capitalize;
		margin-bottom: 20px;

		span {
			color: $pc;
		}
	}



	&_btn {
		@include global_btn($wh, $tc, $wh);
		margin-bottom: 100px;
		margin-top: 20px;
	}
}

// skill
.skill {
	background: $pc;
	color: $wh;
	overflow-x: hidden;

	.cards {
		padding: 50px 20px;
		position: relative;

		&_header {
			padding: 10px 0;
			font-family: $mont;
			font-weight: 700;
		}

		&_body {
			position: relative;
			z-index: 1;

			i {
				transition: all .3s ease;
				padding-bottom: 20px;
			}
		}


		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0;
			width: 100%;
			background: $tc;
			transition: height .3s ease;
		}

		&:hover {
			i {
				transform: translateY(-10px);
			}

			&::after {
				height: 100%;
			}
		}
	}
}

// story
.story {
	background-color: $sc;
	padding-top: 100px;
	padding-bottom: 200px;

	&_img {
		position: relative;

		img {
			border: 10px solid $wh;
			box-shadow: 50px 50px 0 $pc;
		}

		&_play {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: grid;
			place-content: center;
			font-size: 20px;

			i {
				color: $wh;
				background-color: $tc;
				height: 70px;
				width: 70px;
				border-radius: 50%;

				line-height: 70px;
				cursor: pointer;
				transition: all .3s ease;

				&:hover {
					color: $pc;
					animation: play_animation .5s linear;
				}
			}
		}
	}

	&_title {
		color: $pc;
		font-size: 20px;
		font-weight: 300;
	}

	&_header {
		color: $wh;
		font-size: 36px;
		font-family: $mont;
		font-weight: 600;
	}

	&_main {
		color: rgba($wh, .5);
		padding: 20px 0;
	}

	&_btn {
		@include global_btn($wh, $tc, $wh)
	}
}


//  portfolio slider
.portfolio {
	color: $wh;

	.swiper {
		&-container {
			width: 100%;
			height: auto;
		}

		&-slide {
			min-height: 90vh;
			display: grid;
			align-items: center;
			background: $sc;
		}

		&_header {
			font-size: 28px;
			font-family: $mont;
			font-weight: 700;
		}

		&_text {
			color: rgba($wh, .5);
			padding: 15px 0;
		}

		&_btn {
			@include global_btn($wh, $tc, $wh)
		}

		&-button {

			&-prev,
			&-next {
				color: $wh;

				&::after {
					font-size: 30px;
				}

			}
		}
	}


}

// review

.review {
	background-color: $sc;
	padding-top: 100px;
	padding-bottom: 50px;

	&_header {
		padding-bottom: 50px;

		p {
			color: $pc;
			font-size: 22px;
		}

		h1 {
			color: $wh;
			font-size: 36px;
		}
	}

	.swiper {
		&-container {
			width: 100%;
			height: auto;
			padding-bottom: 50px;
		}

		&-slide {
			color: $wh;
			position: relative;
			margin-top: 50px;

			.card {
				background-color: $tc;
				color: rgba($wh, .7);
				border-radius: 10px;
				transition: all .5s ease;

				&-body {
					padding: 65px 45px;

				}
			}

			&_quota {
				background-color: $pc;
				height: 60px;
				width: 60px;
				line-height: 60px;

				border-radius: 50%;
				font-size: 30px;
				transition: all .5s ease;
				position: absolute;
				left: 0;
				right: 0;
				top: -30px;
				margin: auto;
				z-index: 1;
			}

			&_title {
				margin-top: -45px;
				position: relative;
				text-transform: capitalize;

				h5 {
					font-size: 20px;
					font-weight: normal;
					font-family: $mont;
					margin-top: 20px;
				}

				p {
					color: $pc;
				}
			}

			&-active {
				.card {
					background-color: $pc;
					color: #fff;
				}

				.swiper-slide_quota {
					background-color: $tc;
				}

			}
		}

		&-pagination {
			&-bullet {
				background-color: $wh;
				opacity: 1;
				padding: 5px;
				margin: 0 8px !important;

				&-active {
					background-color: $pc;
				}

			}
		}


	}

}


// work
.work {
	background: $sc;
	padding-top: 50px;
	padding-bottom: 100px;

	&_left {
		&_title {
			color: $pc;
			font-size: 20px;
		}

		&_header {
			color: #fff;
			margin: 20px 0;
			font-size: 36px;
			font-family: $mont;
			font-weight: 700;
		}

		&_body {
			color: rgba($wh, .5);
		}
	}

	&_right {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

// contact
.contact {
	background: $pc;
	padding: 100px 0;
	color: $wh;

	&_user {

		img {
			margin-bottom: 30px;
		}

		h2 {
			font-family: $mont;
			font-weight: bold;
		}

		p {
			font-size: 18px;
		}


		&_social {
			i {
				height: 30px;
				width: 30px;
				line-height: 30px;

				border-radius: 50%;
				transition: all .3s ease;

				&:hover {
					color: $tc;
					background: $wh;
				}
			}
		}
	}

	&_input {
		height: 100%;

		input,
		input:focus,
		textarea,
		text:focus {
			background: transparent;
			border: none;
			display: block;
			width: 100%;
			padding-top: 40px;
			padding-bottom: 20px;
			color: $wh;
			transition: all .3s ease;
		}

		input,
		textarea {
			border-bottom: 1px solid rgba($wh, .3);
			caret-color: $wh;

			&::placeholder {
				color: $wh;
			}

			&:focus {
				border-bottom: 1px solid $sc;
			}
		}

		textarea {
			height: 170px;
			resize: none;
		}
	}

	&_btn {
		@include global_btn($tc, $wh, transparent);
		background: $wh;
		width: 100%;
		margin-top: 30px;
		height: 55px;
	}
}



.to_top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background: $wh;
	line-height: 40px;
	color: $sc;
	z-index: 99;
	transition: .4s ease;

	&:hover {
		background: $sc;
		color: $wh;
	}
}